.how__grid {
    grid-template-columns: repeat(1, 1fr)
}

.how__step {
    position: relative;
    padding-top: 28px
}

.how__badge {
    position: absolute;
    top: -14px;
    left: 16px;
    background: var(--color-accent-600);
    border-radius: 999px;
    padding: 6px 10px;
    font-weight: 800
}

.how__title {
    font-weight: 800;
    margin-bottom: 6px
}

li{
    list-style: none;
}

@media (min-width: 920px) {
    .how__grid {
        grid-template-columns: repeat(4, 1fr)
    }
}