.programs__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 14px
}

.programs__addLink {
    color: var(--color-accent-300)
}

.programs__grid {
    grid-template-columns: repeat(1, 1fr)
}

.programs__name {
    font-weight: 700
}

.programs__kpi {
    color: var(--color-accent-300);
    font-size: 14px;
    margin-top: 6px
}

@media (min-width: 920px) {
    .programs__grid {
        grid-template-columns: repeat(3, 1fr)
    }
}